<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.daitso.mapper.UserMapper">
    <insert id="save" parameterType="com.flab.daitso.dto.user.UserRegister" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(userEmail, userPassword, name, phoneNumber, role, registrationDate)
        VALUES (#{userEmail}, #{userPassword}, #{name}, #{phoneNumber}, #{role}, #{registrationDate})
    </insert>

    <insert id="saveAddress">
        INSERT INTO address(zipcode, si, gu, dong, address, userId)
        VALUES (#{addressDto.zipcode}, #{addressDto.si}, #{addressDto.gu}, #{addressDto.dong}, #{addressDto.address}, #{userId})
    </insert>

    <select id="findByUserEmail" parameterType="String" resultType="com.flab.daitso.dto.user.User">
        SELECT *
        FROM user
        WHERE userEmail = #{userEmail}
    </select>

    <select id="findAddressById" parameterType="int" resultType="com.flab.daitso.dto.user.Address">
        SELECT zipcode, si, gu, dong, address, userId
        FROM address
        WHERE userId = #{userId}
    </select>

    <select id="findByUserEmailAndUserPassword" resultType="com.flab.daitso.dto.user.User">
        SELECT *
        FROM user
        WHERE userEmail = #{userEmail}
        AND userPassword = #{userPassword}
    </select>

    <update id="changePassword">
        update user set
            userPassword = #{userPassword}
        where
            id = #{userId}
    </update>

    <insert id="savePaymentOption">
        INSERT INTO paymentoption(userEmail, paymentoption)
        VALUES (#{userEmail}, #{paymentoption})
    </insert>

    <select id="findPaymentOption" resultType="int">
        select paymentoption from paymentoption
        where userEmail = #{userEmail}
    </select>

    <select id="findById" parameterType="int" resultType="com.flab.daitso.dto.user.User">
        select * from user where id = #{userId}
    </select>
</mapper>
